* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #F5F4F0;
 
}

#page {
  box-sizing: border-box;
  width: 1120px;
  margin: 88px auto;
}

.headline {
  color: #E1624F;
  font-weight: bold;
  margin-bottom: 8px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1b1b1b;
  margin-bottom: 40px;
}

img {
  border-radius: 28px;
  margin-bottom: 20px;
}

#description {
  padding: 0 4px;
  margin-bottom: 40px;
}

.description {
  font-size: 16px;
  color: #333333;
  margin: 4px 0;
  
}

h2 {
  padding-bottom: 8px;
  margin-left: 28px;
}

h3 {
  margin-left: 16px;
}

#title-list {
  margin-bottom: 64px;
}

#list {
  margin-bottom: 48px;
}

.list {
  margin-bottom: 20px;
}

ul {
  color: #1b1b1b;
  
}

li {
  margin-left: 28px;
}

li p {
  color: #0C51A7;
  font-weight: bold;
}
#li {
  color: #591B98;
}
#ve {
  color: #E5245E;
}
#la {
  color: #E95E10;
}

footer {
  text-align: center;
  margin-top: 58px;
}

footer img {
  vertical-align: middle;
  margin-top: 20px;
}

#pp {
  text-align: center;
}

#pu {
  text-align: center;
}


